body {
    margin: auto;

}

main {
    padding: 10px 20px;
}

footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}

.message {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
    border-radius: 0.25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.error-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
    border-radius: 0.25rem;
  color: #850000;
  background-color: #ffcccc;
  border-color: #ffb8b8;
}

.error {
  color: red
}

.note_inf {
    height: 110px;
    overflow: hidden;
}

.note {
    margin: 15px;
    width: 100%;
    max-width: 700px;
}

.nextpage {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 15px!important;
    margin-bottom: 9pt!important;
    padding: 10px;
    width: 225px;
    height: 55px;
    border-radius: 18px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
    transition: .3s;
}

.tittle_and_time{
    display: flex;
    justify-content: space-between;
}

.ba{
  position: absolute;
  top: 75px;
  left:45%;
  z-index: 999;
  font-size: large;
}