{% extends 'base.html' %}

{% block tittle %}查看笔记{% endblock %}
{% block tittle2 %}查看笔记{% endblock %}

{% block css %}
    {{ ckeditor.load_code_theme() }}
{% endblock %}

{% block main %}
    <h1>{{ note.tittle }}</h1>
    <div class="note">
        {{ note.body|safe }}
    </div>
    <a href="{{ url_for('main.edit_note', p_id=note.id) }}"
       class="mdui-btn mdui-btn-raised mdui-float-right"><i
            class="mdui-icon material-icons mdui-icon-left">&#xe3c9;</i><span
            class="mdui-hidden-xs-down">编辑</span></a>
    <a href="javascript:alert('{{ url_for('main.share', uuid=note.uuid, _external=True) }}');"
       class="mdui-btn mdui-btn-raised mdui-float-right"><i
            class="mdui-icon material-icons mdui-icon-left">&#xe80d;</i><span
            class="mdui-hidden-xs-down">分享</span></a>
    <a href="javascript:$('.note-{{ note.id }}-del').submit()"
       class="mdui-btn mdui-btn-raised mdui-float-right"><i
            class="mdui-icon material-icons mdui-icon-left">&#xe872;</i><span
            class="mdui-hidden-xs-down">删除</span></a>
    <form method="post" action="{{ url_for('main.del_note') }}" class="note-{{ note.id }}-del">
        {{ del_note.csrf_token }}
        {{ del_note.N_id(value=note.id) }}
        {{ del_note.Submit(class="mdui-hidden") }}
    </form>
    <br/><br/><br/>
{% endblock %}