{% extends 'base.html' %}

{% block tittle %}查看笔记{% endblock %}
{% block tittle2 %}查看笔记{% endblock %}

{% block css %}
    {{ ckeditor.load_code_theme() }}
{% endblock %}

{% block main %}
    <h1>{{ note.tittle }}</h1>
    <div class="note">
        {{ note.body|safe }}
    </div>
    <a href="{{ url_for('main.edit_note', p_id=note.id) }}"
       class="mdui-btn mdui-btn-raised mdui-float-right"><i
            class="mdui-icon material-icons mdui-icon-left">&#xe3c9;</i><span
            class="mdui-hidden-xs-down">编辑</span></a>
    <a href="javascript:alert('{{ url_for('main.share', uuid=note.uuid, _external=True) }}');"
       class="mdui-btn mdui-btn-raised mdui-float-right"><i
            class="mdui-icon material-icons mdui-icon-left">&#xe80d;</i><span
            class="mdui-hidden-xs-down">分享</span></a>
    <br/><br/><br/>
{% endblock %}